<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
<p>Hey <b><%= @user.name %></b>,<p>
<p>Congrachulations! your Account has created succesfully.</p>
<p>Welcome to the website</p>
<br>
<br>
<p><b>Thanks,</b></p>
<p><b>The Website Team</b></p>
</body>
</html>



